:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #f9f7fe;
}

body {
  margin: 0;
  padding: 0;
}

.hero {
  background: #f9f7fe;
  height: 100vh; /* Full viewport height for perfect centering */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 16px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 32px;
}

.hero h2 {
  font-size: 24px;
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1, 5;
}

.aboutsection h1 {
  font-size: 64px;
  line-height: 80px;
}

.aboutsection h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.aboutsection {
  padding: 160px 20px;
}

.aboutsection-content {
  margin: 30px;
}

.btn-branding {
  padding: 15px 30px;
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
